<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link href="tipuesearch/tipuesearch.css" rel="stylesheet">
  </head>
  <body>
    <header>
    <form action="search.html">
		<div style="float: left;"><input type="text" name="q" id="tipue_search_input"></div>
		<div style="float: left; margin-left: 13px;"><input type="button" id="tipue_search_button" onclick="this.form.submit();"></div>
		<div style="clear: left;"></div>
	</form>
    <%
      // Using Current object (http://harpjs.com/docs/development/current) for navigation:
      // path length = current.path.length, 
      // path (array): = current.path, 
      // source: = current.source
      // Any js can go in here. Even console.log().
      
      // Draw Home link if we are in sub directory.
      if(current.path.length > 1 || (current.path.length == 1 && current.source != "index")){ %>
        <a href="/">Home</a>
      <% }
      // Draw the path link(s).
      for(var i = 0; i < current.path.length; i++){
        if(current.path[i] != 'index'){
          %>
          &#8680; <a href="/<%= current.path[i] %>"><%= current.path[i] %></a>
          <%
        }
      }
    %>

        <div id="searchDiv">
      <script>
      var content = <%- JSON.stringify(public) %>;

      function searchElement(root, searchTerm){

        var result = [];

        for(var name in root) {
            // alert(name);
            var value = root[name];
            //alert(name + ": " + value);
            if(typeof(value) === "object"){
              var childResult = searchElement(value, searchTerm);
              childResult.forEach(function(childElement){
                result.push(childElement);
              });
            }

            // search folder name
            if(name.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1){
              result.push(name);
            }

            // search file names
            if(typeof(value) === "string" && value.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1){
              // found it.
              result.push(value);
            }
        }

        return result;
      }

      function search(root){
          var searchTerm = document.getElementById('searchBox').value;
        
        var result = searchElement(root, searchTerm);
        if(result.length > 0){
          
          //console.log(result);
          var resultBox = document.getElementById("resultsBox");
          resultsBox.innerHTML = result;
        }

      };
    </script>
      <input id="searchBox" type="text" onblur="search(content)" />
      <div id="resultsBox"></div>
    </div>
  </header>
    <%- yield %>
    <footer>
      <%- partial("_shared/footer") %>
    </footer>
  </body>
</html>